$green: #44bd0d;
$lgreen: #c8ffaf;
$blue: #0691fe;
$lblue: #b1dcfd;
$purple: #7f1be1;
$lpurple: #cc9afd;
$red: #c12622;
$lred: #ffafad;
$orange: #e69c19;
$lorange: #fdd794;
$teal: #2adccb;
$lteal: #b5faf3;
$homeCont: #333;
$homeBack: #fff;
$dark: #333;



$med: 600px;
$med2: 675px;
$large: 900px;